---
layout: null
---

{% include jekyll-github.css %}

p.topic-summary {
    font-style: italic;
}

@media print {
	div.header {display: none; }
	div.footer {display: none; }
	body { 
		font-size: 12px;
		font-family: "Times New Roman",  serif;
	}
}

table {
	border-collapse: collapse;
}

table * th {
	border: 1px solid black;
	padding: 2px;
}

table * td {
	border: 1px solid black;
	padding: 2px;
}

.indent {
	margin-left: 3em;	
}


div#content {
    max-width: 60em;
    margin-left: auto;
    margin-right:auto;
}


img.personimage {
    width: 300px;
    float: right;
    padding: 0em 1em 1em 1em;
    margin: 0em 1em 1em 1em;
}

td.pic { text-align: center; }

td.name { text-align: left; }

td.year { text-align: center; }

td.affiliation { text-align: left; }

td.city { text-align: left; }
