<li>Mai Elsherief, Elizabeth Belding and <b><a href="/students/nguyen_dana/">Dana Nguyen</a></b>. #NotOkay: Understanding Gender-based Violence in Social Media
     International AAAI Conference on Web and Social Media (ICWSM) 2017, May 2017, Montreal, Canada.</li>
  
    <li>Joseph McMahan, Michael Christensen, Lawton Nichols, <b><a href="/alumni/roesch_jared/">Jared Roesch</a></b>, <b><a href="/students/guo_sammy/">Sung-Yee Guo</a></b>, Ben Hardekopf, and Timothy Sherwood. 2017. An Architecture Supporting Formal and Compositional Binary Analysis. In Proceedings of the Twenty-Second International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS '17). ACM, New York, NY, USA, 177-191. DOI: <a href="https://doi.org/10.1145/3037697.3037733">https://doi.org/10.1145/3037697.3037733</a></li>


<li>C. Krintz, R. Wolski, N. Golubovic, <b>B. Lampel</b>, V. Kulkarni, B. Sethuramasamyraja, B. Roberts, and B. Liu.  SmartFarm: Improving Agriculture Sustainability Using Modern Information Technology.
<a href="papers/dsfew16.pdf">(PDF)</a>,
KDD 2016 Workshop on Data Science for Food, Energy, and Water (<a href="https://sites.google.com/site/2016dsfew/home">DSFEW</a>), August, 2016
</li>

<li>
<b>Daniel Spokoyny</b>, <b>Jeremy Irvin</b> and Fermin Moscoso del Prado.
Explicit Causal Connections between the Acquisition of Linguistic Tiers: Evidence from Dynamical Systems Modeling.
Proceedings of the 7th Workshop on Cognitive Aspects of Computational Language Learning.  August 2016, Berlin.
</li>

<li>
SOK: (State of) The Art of War: Offensive Techniques in Binary Analysis.  Y. Shoshitaishvili, R. Wang, C. Salls, N. D. Stephens, M. Polino, <b>A. Dutcher</b>, J. Grosen, S. Feng, C. Hauser, C. Kruegel, G. Vigna. Proceedings of the IEEE Symposium on Security and Privacy (SSP 2016). <a href="https://www.cs.ucsb.edu/~vigna/publications/2016_SP_angrSoK.pdf">PDF</a>.
</li>


<li>
Driller: Augmenting Fuzzing Through Selective Symbolic ExecutionN. D. Stephens, J. Grosen, C. Salls, <b>A. Dutcher</b>, R. Wang, J. Corbetta, Y. Shoshitaishvili, C. Kruegel, G. Vigna.  Proceedings of the ISOC Network and Distributed System Security Symposium (NDSS 2016).
<a href="https://www.internetsociety.org/sites/default/files/blogs-media/driller-augmenting-fuzzing-through-selective-symbolic-execution.pdf">PDF</a>
</li>

<li> Wei Dai. <a href="http://cseweb.ucsd.edu/~weidai/files/2015/SeniorThesis.pdf">Randomness Extractors - An Exposition</a>.  Rose-Hulman Undergraduate Math
  Journal (pdf). Vol. 17, Issue 1, 2016.
</li>

<li>
Kyle Dewey, <b><a href="/alumni/roesch_jared/">Jared Roesch</a></b>, and Ben Hardekopf. 2015. Fuzzing the Rust Typechecker Using CLP (T). In Proceedings of the 2015 30th IEEE/ACM International Conference on Automated Software Engineering (ASE) (ASE '15). IEEE Computer Society, Washington, DC, USA, 482-493. DOI=<a href="http://dx.doi.org/10.1109/ASE.2015.65">http://dx.doi.org/10.1109/ASE.2015.65</a>
</li>


<li>Kyle Dewey, <b><a href="/alumni/roesch_jared/">Jared Roesch</a></b>, and Ben Hardekopf. 2014. Language fuzzing using constraint logic programming. In Proceedings of the 29th ACM/IEEE international conference on Automated software engineering (ASE '14). ACM, New York, NY, USA, 725-730. DOI=<a href="http://dx.doi.org/10.1145/2642937.2642963">
http://dx.doi.org/10.1145/2642937.2642963</a></li>

<li>
  Ben Hardekopf, Ben Wiedermann, <b>Berkeley Churchill</b>, and Vineeth Kashyap. 2014. Widening for Control-Flow. In Proceedings of the 15th International Conference on Verification, Model Checking, and Abstract Interpretation - Volume 8318 (VMCAI 2014), Kenneth Mcmillan and Xavier Rival (Eds.), Vol. 8318. Springer-Verlag New York, Inc., New York, NY, USA, 472-491.
  DOI:
<a href="http://dx.doi.org/10.1007/978-3-642-54013-4_26">
  http://dx.doi.org/10.1007/978-3-642-54013-4_26
  </a>
  </li>

<li>
Vineeth Kashyap, Kyle Dewey, <b>Ethan A. Kuefner</b>, <b>John Wagner</b>, <b>Kevin Gibbons</b>, John Sarracino, Ben Wiedermann, and Ben Hardekopf. 2014. JSAI: a static analysis platform for JavaScript. In Proceedings of the 22nd ACM SIGSOFT International Symposium on Foundations of Software Engineering (FSE 2014). ACM, New York, NY, USA, 121-132.
DOI:
<a href="http://dx.doi.org/10.1145/2635868.2635904">
http://dx.doi.org/10.1145/2635868.2635904
</a>

</li>

<li>
Xiaohan Zhao, <b><a href="/students/chang_adelbert/">Adelbert Chang</a></b>, Atish Das Sarma, Haitao Zheng, and Ben Y. Zhao. 2013. On the embeddability of random walk distances. Proc. VLDB Endow. 6, 14 (September 2013), 1690-1701. DOI=
<a href="http://dx.doi.org/10.14778/2556549.2556554">
http://dx.doi.org/10.14778/2556549.2556554
</a>
</li>



<li>
     Gang Wang, <b><a href="/alumni/konolidge_tristan/">Tristan Konolige</a></b>, Christo Wilson, Xiao Wang, Haitao Zheng, and Ben Y. Zhao. 2013. You are how you click: clickstream analysis for Sybil detection. In Proceedings of the 22nd USENIX conference on Security (SEC'13). USENIX Association, Berkeley, CA, USA, 241-256. <a href="http://dl.acm.org/citation.cfm?id=2534788">Metadata at ACM Digital Library,</a> <a href="https://www.usenix.org/system/files/conference/usenixsecurity13/sec13-paper_wang_0.pdf">PDF</a>
</li>

<li>
Madhukar N. Kedlaya, <b><a href="/alumni/roesch_jared/">Jared Roesch</a></b>, Behnam Robatmili, Mehrdad Reshadi, and Ben Hardekopf. 2013. Improved type specialization for dynamic scripting languages. In Proceedings of the 9th symposium on Dynamic languages (DLS '13). ACM, New York, NY, USA, 37-48.

DOI=
<a href="http://dx.doi.org/10.1145/2508168.2508177">
http://dx.doi.org/10.1145/2508168.2508177
</a>

</li>

<li>
Vineeth Kashyap, John Sarracino, <b>John Wagner</b>, Ben Wiedermann, and Ben Hardekopf. 2013. Type refinement for static analysis of JavaScript. In Proceedings of the 9th symposium on Dynamic languages (DLS '13). ACM, New York, NY, USA, 17-26. DOI=
<a href="http://dx.doi.org/10.1145/2508168.2508175">
http://dx.doi.org/10.1145/2508168.2508175
</a>
</li>

<li>
Diana Franklin, Phillip Conrad, Bryce Boe, Katy Nilsen, Charlotte Hill, Michelle Len, Greg Dreschler, Gerardo Aldana, <a href="/alumni/tanaka_paulo/"><b>Paulo Almeida-Tanaka</b></a>,
Brynn Kiefer, Chelsea Laird, Felicia Lopez, Christine Pham, Jessica Suarez, and Robert Waite. 2013. Assessment of computer science learning in a scratch-based outreach program. In Proceeding of the 44th ACM technical symposium on Computer science education (SIGCSE '13). ACM, New York, NY, USA, 371-376.
DOI:
<a href="http://dx.doi.org/10.1145/2445196.2445304">
http://dx.doi.org/10.1145/2445196.2445304
</a>
</li>


<li> B. R. Goldsmith, E. D. Sanderson, <b>D. Bean</b>, and B. Peters.  Isolated catalyst sites on amorphous supports: a systematic algorithm for understanding heterogeneities in structure and reactivity.  <i>J. Chem. Phys.</i> 138, 204105 (2013).</li>

<li>
Adam Lugowski, David Alber, Aydm Buluç, John R. Gilbert, Steve Reinhardt, Yun Teng, <b>Andrew Waranis</b>.  A Flexible Open-Source Toolbox for Scalable Complex Graph Analysis.  Proceedings of the 2012 SIAM International Conference on Data Mining.  DOI=
<a href="http://dx.doi.org/10.1137/1.9781611972825.80">
http://dx.doi.org/10.1137/1.9781611972825.80
</a>
</li>

<li>
  <b>Berkeley R. Churchill</b> and Edmund A. Lamagna. 2011. Summing symbols in mutual recurrences. In Proceedings of the 17th annual international conference on Computing and combinatorics (COCOON'11), Bin Fu and Ding-Zhu Du (Eds.). Springer-Verlag, Berlin, Heidelberg, 531-542. DOI=
  <a href="http://dx.doi.org/10.1007/978-3-642-22685-4_46">
    http://dx.doi.org/10.1007/978-3-642-22685-4_46
    </a>
</li>

<li> <b><a href="/alumni/klein_kyle/">Kyle Klein</a></b> and Subhash Suri. <a href="http://www.cs.ucsb.edu/~suri/psdir/wafr10.pdf"> Multiagent
   Pursuit Evasion, or Playing Kabaddi.</a><a href="http://www.wafr.org/">
   International Workshop on Algorithmic Foundations of Robotics (WAFR)</a>,
   Singapore, Dec 13-15, 2010.
</li>

<li> <b><a href="/alumni/klein_kyle/">Kyle Klein</a></b> and Subhash Suri. <a href="http://www.cs.ucsb.edu/~suri/psdir/cccg10.pdf">Robot Kabaddi.</a>
   <a href="http://www.cs.umanitoba.ca/~cccg2010/">22nd Canadian Conference on
   Computational Geometry (CCCG)</a>, Winnipeg, August 9-11, 2010.
</li>

<li>
  Murat Karaorman and <b>Jay Freeman</b>. 2005. jMonitor: Java Runtime Event Specification and Monitoring Library. Electron. Notes Theor. Comput. Sci. 113 (January 2005), 181-200. DOI=
<a href="http://dx.doi.org/10.1016/j.entcs.2004.01.027">
    http://dx.doi.org/10.1016/j.entcs.2004.01.027
</a>.
</li>
