<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %} 
  <title>{% if page.name %} {{ page.name }} {% endif %} {{ site.name }}</title>

  <script>
    {% include data.js %}
  </script>

  <script>
    $(document).on("pageshow",function(){
     console.log("pageshow event");
     var this_object = data.pathname_to_object[window.location.pathname];   
     if (this_object) {
      $(".prev").html("<a href='" + this_object.prev.url + "'>prev</a>");
      $(".next").html("<a href='" + this_object.next.url + "'>next</a>");
     }
   });
  </script>
  
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">

      <table>
	<tr>
	  <td class="prev">prev</td>
	  <td class="next">next</td>
	</tr>
      </table>

      {% if page.name %}<h1>{{page.name}}</h1>{% endif %}
      <img class="personimage" alt="{{ page.name }}" src="300h.jpg" >      
    {{ content }}
    </div><!-- content -->
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
